@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image:url('https://proyectotopicos22.000webhostapp.com/imgfru.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: 'ttOctosquares';
    src: url('../assets/fonts/ttO.ttf');
}
.nuevo2{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    color: white;
    text-shadow: 20px 20px 50px   rgb(189, 88, 224 ) ;
}
.nuevo3{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    color: white;
}
.ppod{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
}