

@font-face {
    font-family: 'ttOctosquares';
    src: url('../assets/fonts/ttO.ttf');
}
.geek{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
}
.nuevo{
    font-family:'ttOctosquares','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    font-size: 25px;
    color: white;
    padding: 10px;
    
}
.nuevo:hover {
    
    
    background-color:rgb(139, 92, 246 ,0.9);
    border-radius: 5px;
    box-shadow: 6px 3px 5px white;
}
.navCss{
    background-color: rgb(53, 51, 52 ,0.8);
}

.imgT{
    border-radius: 5px;
}